<div class="container" dir="rtl">
    <div id="header" class="grid-row">
        <div class="icon"><img src="./assets/images/stations.png" /><span class="title">עולם התחנות</span></div>
        <div class="icon"><img src="./assets/images/reform.png" /><span class="title">מחירונים</span></div>
    </div>


    <div id="menu" class="grid-element-center grid-row">
        <div id="logo">
            <span><img src="./assets/images/logo.png" /></span>
            <span class="title">מערכת רישוי</span>
            <!-- <span class="title">{{"logo-title" | translate}}</span> -->
        </div>
        <div id="menu-links">
            <div>
                <ul>
                    <li (click)="mainTab = 'Reports'">דוחות</li>
                    <li (click)="mainTab ='Protocol'">פרוטוקול</li>
                    <li (click)="mainTab ='Lines'">קווים</li>
                    <li (click)="mainTab ='Inprocess'">לטיפול</li>
                    <li (click)="mainTab ='Imports'">קליטות</li>
                </ul>
            </div>
        </div>
        <div id="menu-user">
            <span class="icon"><i class="pi pi-user"></i>SAGI שלום</span>
            <img src="./assets/images/login.png" />
        </div>
    </div>



    <div id="filters" class="grid-row">
        <!-- <app-filters></app-filters> -->
        <div [ngSwitch]="mainTab">
            <div *ngSwitchCase="'Reports'">
                <app-reports-filters></app-reports-filters>
            </div>
            <div *ngSwitchCase="'Lines'">
                <app-lines-filters></app-lines-filters>
            </div>
            <div *ngSwitchCase="'Inprocess'">
                <app-inprocess-filters></app-inprocess-filters>
            </div>
            <div *ngSwitchDefault>
                <app-lines-filters></app-lines-filters>
            </div>
        </div>
    </div>
    <div id="data-table" class="grid-row">
        <div [ngSwitch]="mainTab">
            <div *ngSwitchCase="'Reports'">
                <app-reports></app-reports>
            </div>
            <div *ngSwitchCase="'Lines'">
                <app-lines></app-lines>
            </div>
            <div *ngSwitchCase="'Inprocess'">
                <app-inprocess></app-inprocess>
            </div>
            <div *ngSwitchDefault>
                <app-lines></app-lines>
            </div>
        </div>

        <router-outlet></router-outlet>
    </div>
</div>
<router-outlet></router-outlet>