/* heebo-100 - hebrew_latin */
@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/heebo-v5-hebrew_latin/heebo-v5-hebrew_latin-100.eot'); /* IE9 Compat Modes */
    src: local('Heebo Thin'), local('Heebo-Thin'),
         url('../fonts/heebo-v5-hebrew_latin/heebo-v5-hebrew_latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/heebo-v5-hebrew_latin/heebo-v5-hebrew_latin-100.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/heebo-v5-hebrew_latin/heebo-v5-hebrew_latin-100.woff') format('woff'), /* Modern Browsers */
         url('../fonts/heebo-v5-hebrew_latin/heebo-v5-hebrew_latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/heebo-v5-hebrew_latin/heebo-v5-hebrew_latin-100.svg#Heebo') format('svg'); /* Legacy iOS */
  }
  /* heebo-300 - hebrew_latin */
  @font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/heebo-v5-hebrew_latin/heebo-v5-hebrew_latin-300.eot'); /* IE9 Compat Modes */
    src: local('Heebo Light'), local('Heebo-Light'),
         url('../fonts/heebo-v5-hebrew_latin/heebo-v5-hebrew_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/heebo-v5-hebrew_latin/heebo-v5-hebrew_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/heebo-v5-hebrew_latin/heebo-v5-hebrew_latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/heebo-v5-hebrew_latin/heebo-v5-hebrew_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/heebo-v5-hebrew_latin/heebo-v5-hebrew_latin-300.svg#Heebo') format('svg'); /* Legacy iOS */
  }
  /* heebo-500 - hebrew_latin */
  @font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/heebo-v5-hebrew_latin/heebo-v5-hebrew_latin-500.eot'); /* IE9 Compat Modes */
    src: local('Heebo Medium'), local('Heebo-Medium'),
         url('../fonts/heebo-v5-hebrew_latin/heebo-v5-hebrew_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/heebo-v5-hebrew_latin/heebo-v5-hebrew_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/heebo-v5-hebrew_latin/heebo-v5-hebrew_latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/heebo-v5-hebrew_latin/heebo-v5-hebrew_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/heebo-v5-hebrew_latin/heebo-v5-hebrew_latin-500.svg#Heebo') format('svg'); /* Legacy iOS */
  }
  /* heebo-regular - hebrew_latin */
  @font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/heebo-v5-hebrew_latin/heebo-v5-hebrew_latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Heebo'), local('Heebo-Regular'),
         url('../fonts/heebo-v5-hebrew_latin/heebo-v5-hebrew_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/heebo-v5-hebrew_latin/heebo-v5-hebrew_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/heebo-v5-hebrew_latin/heebo-v5-hebrew_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/heebo-v5-hebrew_latin/heebo-v5-hebrew_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/heebo-v5-hebrew_latin/heebo-v5-hebrew_latin-regular.svg#Heebo') format('svg'); /* Legacy iOS */
  }