$base-theme:Default;
$skin-name:chana2;
$swatch-name:Default;
$border-radius: 2px;
$accent: #6ab6e8;
$info: #3e80ed;
$success: #000000;
$warning: #fdce3e;
$error: #d51923;
$text-color: #656565;
$bg-color: #ffffff;
$base-text: #656565;
$base-bg: #f6f6f6;
$hovered-text: #656565;
$hovered-bg: #ededed;
$selected-text: #ffffff;
$selected-bg: #9cccec;
$series-a: #9cccec;
$series-b: #ffd246;
$series-c: #000000;
$series-d: #28b4c8;
$series-e: #2d73f5;
$series-f: #aa46be;
