<!-- <kendo-textbox-container floatingLabel="סטטוס">
    <kendo-combobox [suggest]="true" [ngClass]="[userCrtClass]" [data]="state.statuses$ | async" formControlName="statusId" [textField]="'name'" [valueField]="'id'" [valuePrimitive]="true" [placeholder]="'סטטוס'" [loading]="! (state.statuses$ | async)" [(ngModel)]="selectedStatus">
    </kendo-combobox>
</kendo-textbox-container> -->

<!-- <div class="example-config">
    <input id="ac" type="checkbox" [(ngModel)]="allowCustom">
    <label for="ac">Allow custom values</label>
</div> -->
<kendo-textbox-container floatingLabel="סטטוס">
    <!-- <kendo-combobox [data]="listItems" [allowCustom]="allowCustom" class="k-rtl"> -->
    <kendo-combobox [data]="statusOptions" [suggest]="true" [allowCustom]="allowCustom" [textField]="'name'" [valueField]="'id'" [valuePrimitive]="true" [placeholder]="'סטטוס'" [(ngModel)]="selectedStatus">
    </kendo-combobox>
</kendo-textbox-container>

<!-- <kendo-textbox-container [ngClass]="[userCrtPlaceholderClass, 'filter-field','mx-2']" floatingLabel="סטטוס">
  <kendo-combobox [suggest]="true" [ngClass]="[userCrtClass]" [data]="state.statuses$ | async" formControlName="statusId" [textField]="'name'" [valueField]="'id'" [valuePrimitive]="true" [placeholder]="'סטטוס'" [loading]="! (state.statuses$ | async)" [(ngModel)]="selectedStatus">
  </kendo-combobox>
</kendo-textbox-container> -->