    /* You can add global styles to this file, and also import other style files */
    
    html,
    body {
        margin: 0;
        padding: 0;
        font-family: 'Heebo', sans-serif;
        font-weight: 300;
        color: #5a5a5a;
    }
    
    .container {
        height: 100%;
        // background-color: rgb(205, 233, 103);
        display: grid;
        grid-template-rows: 30px 73px 186px 1fr;
        background-color: #ebebeb;
    }
    
    div {
        // border: 1px solid black;
    }
    
    .icon {
        padding: 1px;
        margin: 2px;
    }
    
    #header {
        display: flex;
        flex-direction: row;
        background-color: #0c365d;
        color: white;
        // display: flex;
        // flex-direction: row;
        justify-content: flex-end;
        // background-color: #0C365D;
        // color: white;
        padding: 0.2em;
        // font-size: 15px;
    }
    
    #menu {
        display: grid;
        grid-template-columns: 100px 1fr 100px;
        background-color: #ffffff;
        color: #5a5a5a;
        padding: 0 0.5em 0 0;
        // border: 1px solid red;
        display: flex;
        justify-content: space-between;
        // display: flex;
        // font-size: 20px;
        // background-color: #ffffff;
        // color: #5a5a5a;
        // padding: 0 0.5em 0 0;
        ul {
            display: flex;
            width: 100%;
            margin-right: 2em;
            li {
                display: flex;
                align-items: center;
                padding-left: 1em;
                padding-right: 1em;
                cursor: pointer;
                height: 100%;
                outline: none;
                // color: #1D7ED8;
                &:hover {
                    font-weight: bold;
                }
                &.active {
                    color: #1d7ed8;
                    font-weight: bold;
                    border-bottom: 3px solid #1d7ed8;
                    &:last-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }
    
    #filters {
        background-color: #1d7ed8;
    }
    
    #tabs {}
    
    .grid-element-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .grid-row {
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
        align-items: center;
    }
    
    // .logo {
    //     padding-left: 0.2em;
    //     .title {
    //         padding-left: 0.2em;
    //     }
    // }
    #logo {
        display: flex;
        align-items: center;
        .title {
            font-size: 27px;
            margin-right: 0.3em;
            font-weight: 700;
            color: #1d7ed8;
        }
        img {
            height: 32px;
        }
    }
    
    // ul {
    //     list-style: none;
    //     margin: 0;
    //     padding: 0;
    //     li {
    //         display: inline;
    //         padding-left: 1em;
    //         vertical-align: bottom;
    //         img {
    //             padding-left: 0.2em;
    //             display: inline;
    //         }
    //     }
    // }
    #menu-links {
        display: flex;
        justify-content: space-between;
        // background-color: yellow;
        font-size: 20px;
    }
    
    #menu-user {
        // margin-top: 14px;
        // margin-bottom: 14px;
        margin: 1em;
        display: flex;
        align-items: center;
    }
    
    #data-table {
        background-color: #e2e8f0;
        // border: 1px red solid;
    }
    
    // kendo override
    .k-input,
    input.k-textbox,
    textarea.k-textbox,
    input.k-textbox:hover,
    textarea.k-textbox:hover,
    .k-textbox>input {
        border: 0 !important;
    }
    
    .k-multiselect-wrap {
        border-bottom: white 1px solid important;
    }
    
    .k-input {
        background-color: #1d7ed8 !important;
        color: white !important;
        // border: 0 !important;
    }
    
    .k-combobox .k-dropdown-wrap {
        border: 0px !important;
        // direction: rtl !important;
        background-color: #1d7ed8 !important;
    }
    
    .k-select {
        color: white !important;
    }
    
    .k-combobox .k-select {
        background-image: none !important;
        background-color: #1d7ed8 !important;
    }
    
    .k-list .k-item.k-state-selected {
        color: #ffffff;
        background-color: #9cccec;
    }
    
    .k-list .k-item.k-state-selected:hover {
        color: #ffffff;
        background-color: #ffffff;
    }
    
    .k-list .k-item:hover {
        color: #9d9fa1;
    }